
.team-section {
    padding: 50px 0;
    /* background-color: #f8f9fa; */
  }
  
  .team-member {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .team-member img {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }