.trusted-section {
  /* background-color: #f8f9fa; , #F1EDFD  */
  padding: 50px 0;
}

.trusted-box {
  text-align: center;
  padding: 30px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Added background-color transition */
}

.trusted-box:hover {
  transform: translateY(-5px);
}

.trusted-box i {
  color: #dc3545;
  margin-bottom: 20px;
}

.trusted-box .count {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Hover styles for each box */
.box1:hover {
  background-color: #E5F9F8; /* Light blue */
}

.box2:hover {
  background-color: #FFF3D6; /* Light gray */
}

.box3:hover {
  background-color: #FCEDF2; /* Light green */
}